header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

.header-nav {
    display: flex;
    justify-content: space-around;
}

.header-link {
    color: white; 
    text-decoration: none; 
}
